*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
header{
    background-color: blue;
    align-items: center;
    display: flex;
    justify-content: center;
}
body{
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
label, input{
    display: inline;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
}
button{
    cursor: pointer;
    
}
section{
    margin-bottom: 60px;
}
.area-contato{
    margin-bottom: 95px;
}
