*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
header{
    background-color: blue;
    align-items: center;
    display: flex;
    justify-content: center;
}
body{
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    height: 100%;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
label, input{
    display: inline;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
}
button{
    margin-bottom: 9px;
    margin-left: 5px;
    padding: 2px;
    font-weight: bold;
    cursor: pointer;
    
}
section{
    margin-bottom: 60px;
}
section li{
    margin-bottom: 80px;
}
.area-contato p{
    margin-bottom: 30px;
}
img{
    display: none;
}
